.tarif {
  padding: 51px 0;
  background: #E5E5E5;
  &__top {
    padding: 51px 40px 23px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 25px;
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #263057;
    margin-bottom: 25px;
  }
  &__links {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    &-nav {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #6984F0;
    }
    .active {
      color: #6984F050;
    }
  }
  &__card {
    background: linear-gradient(180deg, #273158 0%, #0C244D 100%);
    border-radius: 15px;
    padding: 23px 20px 36px;
    &-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 44px;
      color: #FFFFFF;
    }
    &-mb{
      display: flex;
      align-items: center;
      column-gap: 16px;
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      color: #FFFFFF;
      margin-top: 3px;
    }
    &-link {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #FFFFFF;
      display: inline-block;
      margin: 10px 0 25px;
    }
    &-price {
      font-weight: 700;
      font-size: 30px;
      line-height: 44px;
      color: #FFFFFF;
      display: flex;
      column-gap: 5px;
      align-items: center;
      position: relative;
      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
      }
      &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #6984F0;
        position: absolute;
        top: -10px;
      }
    }
    &-btn {
      padding: 5px 40px;
      background-color: #6984F0;
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #FFFFFF;
      text-align: center;
      border-radius: 30px;
      border: none;
      margin-top: 10px;
    }

  }
  &__call{
    margin-top: 47px;
    padding: 29px 59px 29px 78px;
    background: linear-gradient(92.37deg, #263057 29.38%, #1D1444 100.81%);
    border-radius: 15px;
    &-title {
      font-weight: 700;
      font-size: 38px;
      line-height: 130%;
      color: #FFFFFF;
      margin-bottom: 14px;
    }
    &-block {
      display: flex;
      align-items: center;
      column-gap: 22px;

    }
    &-input  {
      width: 390px;
      height: 46px;
      background: #FFFFFF;
      border-radius: 5px;
      border: none;
      outline: none;
      padding-left: 25px;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #263057;
      &_street {
        width: 519px;
        height: 46px;
      }
      &_home{
        width: 185px;
        height: 46.23px;
      }
    }
    &-btn {
      padding: 11px 40px;
      background: #6984F0;
      border-radius: 60px;
      border: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #FFFFFF;
    }
    &-block2 {
      display: flex;
      column-gap: 11px;
      align-items: center;
      margin-top: 18px;
    }
    &-check{
      background-color: transparent;
      border: 1px solid #FFFFFF;
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #FFFFFF;
    }
  }
}