* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Circe', sans-serif;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@import "Layout/Header/header";

@import "./src/pages/Main/Begin/begin";
@import "./src/pages/Main/Tarif/tarif";

@import "Layout/Footer/footer";