.documents {
  padding: 51px 0 63px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 47px 40px;
    background: #F1F2F4;
    border-radius: 15px;
    margin: 41px 0;
  }
  &__info {
    display: flex;
    align-items: center;
    column-gap: 17px;
  }
  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #263057;
  }
}